[[source]]
name = "pypi"
url = "{{cookiecutter.pypi_source}}"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
isort = "*"
autoflake = "*"
pylint = "*"
pre-commit = "*"
pycodestyle = "*"
pydocstyle = "*"
{%- if cookiecutter.notebooks == "Yes" %}
jupyter = "*"
ipython = "*"
{% endif -%}
# test packages
coverage = "*"
pytest-cov = "*"
pytest = "*"

[packages]
click="*"
pathlib2="*"
versioneer = "*"
python-dotenv= ">=0.5.1"
attrs = "*"
pandas = "*"
numpy = "*"
{%- if cookiecutter.use_ml == "Yes" or cookiecutter.use_or == "Yes" %}
scipy = "*"
{% endif -%}
{%- if cookiecutter.use_ml == "Yes" %}
wandb = "*"
lightgbm = "*"
scikit-learn = "*"
#tensorboard = "*"
{% endif -%}
{%- if cookiecutter.use_or == "Yes" %}
# operation research packages
mip = "*"
pulp = "*"
{% endif -%}
#可视化
seaborn = "*"
{%- if cookiecutter.use_gui == "Y" %}
# GUI packages
pysimplegui = "*"
pyperclip = "*"
pystray = "*"
plyer = "*"
pycurl = "*"
pillow = "*"
certifi = "*"
{%- endif %}

[requires]
python_version= "3.7"

[scripts]
beautify = "bash -c \"autoflake -i -r --expand-star-imports --remove-all-unused-imports --remove-duplicate-keys --remove-unused-variables **/*.py; isort **/*.py; black **/*.py\""
lint = "bash -c \"pylint **/*.py\""
