[[source]]
name = "pypi"
url = "{{cookiecutter.pypi_source}}"
verify_ssl = true

[dev-packages]
ipython = "*"
pytest = "*"
black = "==19.10b0"
isort = "*"
autoflake = "*"
pylint = "*"
pre-commit = "*"
pycodestyle = "*"
pydocstyle = "*"
coverage = "*"
pytest-cov = "*"
{%- if cookiecutter.notebooks == "Yes" %}
jupyter = "*"
{% endif -%}

[packages]
wandb = "*"
attrs = "*"
pandas = "*"
numpy = "*"
scipy = "*"
seaborn = "*"
click="*"
pathlib2="*"
versioneer = "*"
python-dotenv= ">=0.5.1"
{%- if cookiecutter.use_gui == "Y" %}
pysimplegui = "*"
pyperclip = "*"
pystray = "*"
plyer = "*"
pycurl = "*"
pillow = "*"
certifi = "*"
{%- endif %}

[requires]
python_version= "3.7"

[scripts]
beautify = "bash -c \"autoflake -i -r --expand-star-imports --remove-all-unused-imports --remove-duplicate-keys --remove-unused-variables **/*.py; isort **/*.py; black **/*.py\""
lint = "bash -c \"pylint **/*.py\""
